.edit-widget-btns {
    display: table;
    float: right;
}

section.intro p {
    font-size: 30px;
    line-height: 36px;
    max-width: 800px;
    display: inline-block;
    margin-right: 400px;
}

div#search-container {
    position: relative;
    height: 100%;
}

.search-area {
    background-image: url(templates/protostar/banner.png);
    height: 300px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

input.search-input {
    height: 38px;
    left: -1px;
    width: calc( 100% - 125px );
}

div.search-bar-content {
    position: relative;
    top: calc( 50% - 75px );
    width: calc( 100% - 200px );
    padding: 50px;
    background: rgba(0,0,0,0.3);
    border-radius: 7px;
    box-sizing: border-box;
    max-width: 1000px;
}

.organizations article {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 3px;
    height: 200px;
  overflow: hidden;
}
article {
    display: inline-block;
    width: 350px;
  
    margin: 20px;
    padding: 5px 20px;
    text-align: left;
    position: relative;
    padding-bottom: 50px;
}

.explore .article-images a {
    border: 1px solid black;
    border-radius: 100%;
    width: 90px;
    position: initial;
    height: 90px;
    overflow: hidden;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.explore .article-images {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: absolute;
    top: -120px;
    margin: 0;
    left: 0;
}

.explore article {
    position: relative;
    margin-top: 150px;
    vertical-align: top;
}


article time, article .author {
    display: none;
}

article h2 {
    font-weight: 100;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

section h1 {
    font-weight: 100;
    text-align: left;
}

section {
    margin: 50px;
    text-align: center;
}

span.article-images {
    float: left;
    margin: 0 10px 10px 0;
}

.explore .article-content {
    font-size: 16px;
    font-weight: 100;
    font-family: '',sans-serif;
}
.organizations .article-content {
    overflow: hidden;
    height: 110px;
    width: 210px;
    text-overflow: ellipsis;
}

article a {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 10px;
}

img.agancy-logo {
    position: absolute;
    bottom: 6px;
    right: 12px;
    max-height: 49px;
    z-index: -1;
    opacity: 0.3;
    max-width: 150px;
}

a.agancy-website {
    bottom: 6px;
}


.search-result-list.hybrid {
    padding: 10px;
    padding-top: 0;
    box-sizing: border-box;
    text-align: left;
    position:relative;
    overflow: hidden;
    z-index: 1;
}
.search-result-list:before{
    content:"";
    position:absolute;
    width: calc( 100% - 20px );
    height: calc( 100% - 10px );
    background-color:white;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    box-sizing: border-box;
    z-index: 0;
    border-radius: 0 0 5px 5px;
}

.search-result-list ul {
    margin: 0;
    list-style: none;
    position: relative;
}

.search-result-list li {
   border-top: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    cursor:pointer;
}

.search-result-list li:hover {
    background-color: rgba(0,0,0,0.03);
}
.search-result-list li:first-child{
    border-top:none;
}

section.search {
    margin-top: 0;
}

section.search>h1 {
    display: none;
}

.explore article:hover .article-images a {
    background-color: cornflowerblue;
}

.explore article.fav-1:hover .article-images a {
    background-color: #ff9300;
}
.explore article.fav-2:hover .article-images a {
    background-color: #34c56a;
}
.explore article.fav-5:hover .article-images a {
    background-color: #a89be8;
}

.explore article.fav-4:hover .article-images a {
    background-color: #b38c7e;
}
@media only screen and (max-width: 1300px) {
     .search-area {
        height:300px;
     }
}
@media only screen and (max-width: 1000px) {
     .search-area {
        height:300px;
     }
}
@media only screen and (max-width: 700px) {
     .search-area {
        height:300px;
     }
}
@media only screen and (max-width: 500px) {
     .search-area {
        height:200px;
     }
}


.intro p, .quickstart p {
    text-align: left;
}

.housing-search .housing-search-area{
       display: inline-block;
    text-align: left;
    padding: 15px;
    background: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.housing-results button.btn.btn-primary {
    margin: 5px;
}

input[type="radio"].attributeFilterJoin {
    vertical-align: middle;
    margin: 0 10px;
    margin-bottom: 2px;
}

span.r-count {
    color: #8f1540;
    font-size: 40px;
    vertical-align: middle;
    font-weight: 100;
}

span#housing-query {
    color: #8f1540;
    font-weight: 100;
}

section.housing-results {
       display: inline-block;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
}

section.housing-results.empty {
    opacity: 0.5;
}

html:after {
    background-image: url(templates/protostar/banner.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    max-height: 500px;
}

.housing-search-area>label {
    display: inline-block;
}

.drop-in-services article {
        max-width: 150px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
}
.drop-in-services article h2 {
    font-size: 14px;
    overflow: visible;
}

.housing-search-area:before {
    content: "";
    width: 100%;
    background-color: whitesmoke;
    height: 65px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.housing-search-area>h2 {margin-bottom: 25px;font-weight: 100;}

section#housing-results-section:after {
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=Kelowna,BC&zoom=13&size=1200x300&maptype=roadmap);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}

.quickstart article {
    width: inherit;
    margin: 0;
    padding: 0;
    color: #8f1540;
}