html:after {
       max-height: 330px;
    top: 120px;
    background-position: center;
    border: 1px solid black;
}


@media ( max-width : 1100px) {
    section.intro p {
        margin-top: 10px;
    font-size: 25px;
    line-height: 28px;
    max-width: 600px;
    }

 }

@media ( max-width : 900px) {
    section.intro p {
      main .menu.nav > li a{
      }
   }

 }