.tileButtonContainer {
    background: white;
    border-radius: 1px;
    background-size: 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.tileButtonContainer:hover{
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    background-color: #fafafa;
}

.icn-s-lst li {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.icn-s-lst li>img {
    top: 8px;
    left: 8px;
    height: 34px;
}

.delete-menu {
        position: absolute;
        background: white;
        padding: 3px;
        color: #666;
        font-weight: bold;
        border: 1px solid #999;
        font-family: sans-serif;
        font-size: 12px;
        box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
        margin-top: -10px;
        margin-left: 10px;
        cursor: pointer;
      }
      .delete-menu:hover {
        background: #eee;
      }

.geolive_mediaMap_container{
overflow:hidden;
}

.SideBarWidget>.content {
    overflow-y: scroll;
}

.hideTextArea .text-input, .hideTextArea .video, .hideTextArea .audio, .hideTextArea .document {
    display: none;
}


#housing-search-form>* {
    display: inline-block;
    vertical-align: middle;
}

#housing-search-form>label {
    margin-left: 20px;
}

section.housing-search h2 {
    display: none;
}

label {}

.housing-search-area>label {
    display: inline;
    margin-left: 20px;
}

.housing-search-area {
    margin-bottom: 20px;
}

.housing-search-area input[type="radio"] {
    vertical-align: middle;
    margin: 0;
    margin-bottom: 2px;
    margin-left: 10px;
}

form#housing-search-form {
    margin-bottom: 0;
}

section#housing-results-section {
    display: none;
}