.search-bar-btn.left, .search-bar-btn.left.fltr-bldr {
    border: none;
    height: 30px;
    top: 5px;
    padding: 6px;
    position: absolute;
    width: 30px;
}
.geolive-top-bar .search-bar-btn.search{
left: 13px;
}
.geolive-top-bar .search-bar-btn.fltr-bldr.a{
    left: -34px;
background-color: #ff9300;
}
.geolive-top-bar .search-bar-btn.fltr-bldr.b{
    left: -81px;
    background-color: #34c56a;
}

.geolive-top-bar .search-bar-btn.fltr-bldr.c{
   left: -128px;
background-color: cornflowerblue;
}