.SideBarWidget.left>.sidebar-view>.filter, .SideBarWidget.left .attribute-filter {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    margin: 10px;
    margin-top: 0;
    border-radius: 4px;
    min-height: 30px;
}

.SideBarWidget.left {
    padding-top: 50px;
}

.timeline-container {
    width: 300px;
    margin-top: 60px;
    position: relative;
}



.timeline-container .ui-ctrl-handle > span:after {
    color: #8f1540;
    text-shadow: none;
}

.timeline-container .slider, .timeline-container .slider:after{
      background-color: #8f1540;
}

.timeline-container .atMinimumSpan .slider:after {
    background-color: #8f1540;
}



.SideBarWidget.right .infotab-content {
    font-size: 15px;
    line-height: 18px;
    font-weight: 100;
    font-family: '',sans-serif;
}

.SideBarWidget.right .infotab-content .attribute-item{
    margin-top: 5px;
    display: inline-block;
}

.AttributesContainer .TextAttribute_Title, .SideBarWidget.right .infotab-content .lbl-txt {
    color: #30546B;
    font-weight: bold;
}

.SideBarWidget.right .sidebar-content>* {
    background-color: transparent;
}

.SideBarWidget.right .content.layer-1 {
    background-color: #d9eaf5;
}
.SideBarWidget.right .content.layer-5 {
    background-color: #f3dcc4;
}
.SideBarWidget.right .content.layer-2 {
background-color: #fff6df;
}

.StreetViewModule {
    margin-top: 30px;
}

.SideBarWidget>.toggle-button {
    width: 60px;
    height: 60px;
}


.SideBarWidget {
    min-width: 60px;
}

.SideBarWidget.right>.toggle-button {
    left: -60px;
}

.SideBarWidget.right {
    min-width: 0;

}
.SideBarWidget.right .sidebar-view{
    overflow-y:scroll;
}

.agency-filter-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}




span.attribute-item>img {
    width: 32px;
    height: 32px;
    background: white;
    padding: 5px;
    border-radius: 100%;
    border: 3px solid black;
    margin: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
span.attribute-item>img:hover {
    background-color: cornflowerblue;
}

.SideBarWidget>.gutter {
   display:none;
}

.StreetViewModule img {
    width: 100%;
    height: auto;
}


.SideBarWidget.left ul.filter-values {
    list-style: none;
    margin: 0;
}

.SideBarWidget.left ul.filter-values li {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 5px;
    margin: 2px 5px;
    background: rgba(255,255,255,0.1);
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.1);
}

.SideBarWidget.left ul.filter-values li:hover {
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    border-color: rgba(0,0,0,0.3);
}

.SideBarWidget.left ul.filter-values li.selected {
    background-color:cornflowerblue;
    border-color:rgba(0,0,0,0.4);
    
}
.icn-s-lst li::before, .icn-s-lst li::before {
    background: rgba(255,255,255,0.2);
}
.icn-s-lst li:hover::before{
    background: white;
}

.icn-s-lst li:hover.selected::before {
    background: cornflowerblue;
}

.attribute-filter .label {
    background-color: transparent;
    color: black;
    text-shadow: none;
    font-size: 14px;
}

/*Responsive Styles*/


@media only screen and (max-height: 800px) {
  .icn-s-lst li {
    width: 35px;
    height: 35px;
  }

  .icn-s-lst li>img {
    top: 6px;
    left: 8px;
    height: 20px;
  }
}




/*


*/