.SideBarWidget.left>.filter, .SideBarWidget.left .attribute-filter {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    margin: 10px;
    margin-top: 0;
    border-radius: 4px;
    min-height: 30px;
}

.SideBarWidget.left {
    padding-top: 50px;
}

.timeline-container {
    width: 300px;
    margin-top: 60px;
    position: relative;
}



.timeline-container .ui-ctrl-handle > span:after {
    color: #8f1540;
    text-shadow: none;
}

.timeline-container .slider, .timeline-container .slider:after{
      background-color: #8f1540;
}

.timeline-container .atMinimumSpan .slider:after {
    background-color: #8f1540;
}



.SideBarWidget.right .infotab-content {
    font-size: 15px;
    line-height: 18px;
    font-weight: 100;
    font-family: '',sans-serif;
}

.SideBarWidget.right .infotab-content .Attribute_Item{
    margin-top: 5px;
    display: inline-block;
}

.AttributesContainer .TextAttribute_Title, .SideBarWidget.right .infotab-content .lbl-txt {
    color: #30546B;
    font-weight: bold;
}

.SideBarWidget.right .sidebar-content>* {
    background-color: transparent;
}