.SideBarWidget.left>.filter {
    display: block;
    padding: 10px;
    background: rgba(0,0,0,0.05);
    margin: 10px;
    margin-top: 0;
    border-radius: 4px;
    min-height: 30px;
}

.SideBarWidget.left {
    padding-top: 50px;
}

.timeline-container {
    width: 300px;
    margin-top: 60px;
    position: relative;
}