@CHARSET "UTF-8";
.pushmenu>.pb-c {
	background-color: white;
	    height: initial;
}
#pushmenu {
    margin: 0;
}
#aside {
	margin: 0;
	width: inherit;
}

#aside>.well {
	margin: 0;
	background-color: white;
	box-shadow: none;
	border:none;
}

.pushmenu #login-form {
	width: 300px;
	margin-left: 50px;
	margin-top: 20px;
}

.pushmenu input#modlgn-passwd, .pushmenu input#modlgn-username {
	width: 175px;
}


button.btn.btn-primary, input.btn.btn-primary {
    background-color: #8f1540;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px 25px;
}



h3#pushmenu-message, .site-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 100;
    color: #8f1540;
}

h3#pushmenu-message{
 	font-size: 20px;
	margin:0;
	padding:10px;
	text-align: center;
	font-size:;
}


.menu.nav > li {
    display: inline-block;
    font-size: 26px;
    font-family: '', sans-serif;
    font-weight: 100;
    margin: 0 20px;
    position: relative;
}

.menu.nav > li a {
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
}

.menu.nav > li.current.active a {
    color: #b2494c;
}


li ul.nav-child {
    display: none;
    position: absolute;
    left: 0;
    z-index: 999999;
    padding: 10px;

    min-width: 100%;
    box-sizing: border-box;
}

li:hover ul.nav-child, li.hover ul.nav-child {
    display: inline-block;
}

.menu.nav > li>ul.nav-child>li>a {
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background: white;
    border-radius: 2px;
    text-align: left;
    display: block;
    text-decoration: none;
    font-size: 19px;
    font-family: '', sans-serif;
    font-weight: 100;
}
.menu.nav > li>ul.nav-child>li>a:hover {
    background-color: #f5f5f5;
}

ul.nav-child:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    content: "";
    top: 2px;
    left: calc(50% - 11px);
    z-index: -1;
}